:root{
    --bak-clr:#222; /*background color*/
    --pri-clr:#EEE; /*primary color*/
    --sec-clr:#AAA; /*secondary color*/
    
    --pri-mrg: 1em; /*primary margin*/
    --sec-mrg: .5em; /*secondary margin*/

    --pri-pad: 1em; /*primary padding*/
    --sec-pad: .5em; /*secondary padding*/

}
body{
    background-color: var(--bak-clr);
    color: var(--pri-clr);
}
main{
    color: var(--pri-clr);
}
nav>a{
    color: var(--pri-clr);
}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{
    padding: .25em;
}
[data-page="water"] img{
    background: lightskyblue;
}
[data-page="urine"] img{
    background: lightgreen;
}